.landing {
    margin: 0%;
    background-image: url(../assets/fondo_pantalla_landing.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100vw;
}

.h1 { 
    color: yellow; font-family: 'Droid serif', serif; font-size: 36px; font-weight: 400; 
    font-style: normal; line-height: 44px; margin: 0px 20px 12px; text-align: center;
}
.link {
    padding: 20px;
    list-style-type: none;
}
.button {
    font-size: 25px;
    width: 8em;
    height: 2em;
    background-image: linear-gradient(to bottom, #30cfd0 0%, #330867 100%);
    border-left: 0.08em solid;
    position: relative;
    margin-top: 0.8em;
    cursor: pointer;
}
.button::before,
.button::after
{
    content: '';
    position: absolute;
    width: inherit;
    border-left: inherit;
    z-index: -1;
}
.button::before {
    height: 80%;
    top: 10%;
    left: calc(-0.15em - 0.08em * 2);
    filter: brightness(0.8);
}

button::after {
    height: 60%;
    top: 20%;
    left: calc(-0.15em * 2 - 0.08em * 3);
    filter: brightness(0.6);
}
.button .span {
    position: relative;
    height: 120%;
    top: -10%;
    box-sizing: border-box;
    border: 0.08em solid;
    background-color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    text-transform: capitalize;
    transform: translateX(calc(-0.15em * 3 - 0.08em * 2));
    transition: 0.3s;
}
.button:hover .span {
    transform: translateX(0.15em);
}