.component{
    height: auto;
    background-image: linear-gradient(to bottom, #30cfd0 0%, #330867 100%);
}

.title{
    color: white;
    font-family: 'Droid serif', serif; 
    font-size: 36px; 
    font-weight: 400; 
    line-height: 44px; 
    margin: 10px 12px;
    padding: 10px 12px; 
    text-align: center;
}

.imgContainer{
    float: left;
    margin: 12px;
    padding: 20px;
}

.img{
    border-radius: 10px;
}

.detailContainer{
    margin: 12px;
    padding: 20px;
    border: 3px solid white;
    border-radius: 10px;
}
.h3{
    color: black;
    font-family: 'Droid serif', serif; 
    font-size: 24px; 
    font-weight: 200; 
    line-height: 44px; 
    margin: 10px 12px;
    padding: 10px 12px; 
}

.p{
    display: contents;
    color: white; 
    font-size: 29px; 
    font-family: "Libre Baskerville", serif; 
    line-height: 45px; 
    text-align: center;  
    padding: 20px; 
}
.li{
    display: list-item;
    text-align: left;
    font-size: 29px;
    font-family: "Libre Baskerville", serif;
    list-style-type: disc;
    list-style-position: inside;
    text-transform: capitalize;
}